@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800;900&family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');
body{
    margin: 5px;
    font-size: 12px;    
    
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Noto Serif JP', serif;
    font-family: 'Noto Sans JP', sans-serif;
}
.tac{
    text-align: center;
}
.fz18{
    font-size: 18px;
    font-weight: bold;
}
.fz14b{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 20px;
    margin-bottom: 0;
    padding-top: 10px;
}
.fz12{
    font-size: 12px;
    color: #666;
    letter-spacing: normal;
    font-weight:500;
}

.lh125rem{
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
}

.flexcc{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bordersvglogo{
    border: 5px solid white;
}
.w-35{
    width: 35%;
}
.fw6{
    font-weight: 600;
}

/* -----header-------------- */
.bgimg{
    background: url(./images/mainvisual-image1.jpg) center center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
}
.logo svg{
    width: 40px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.hambar{
    position: fixed;
    right: 30px;
    top: 25px;
    /* font-size: 1.5rem; */
    text-align: center;
    z-index: 999;
    
}
.hambarimg{
    transform: scale(3,1);
}
.menutext{
    font-size: 12px;
}
.w-65{
    width: 65%;
}

.title{
    position: absolute;
    bottom: 30%;
    left: 20px;
    color: white;
    font-weight: bolder;
    border-bottom: 3px solid #fff;
}
.title p{
    margin-bottom: 0.2rem;
}
.comingsoon{
    background-color: transparent;
    width: fit-content;
    /* position: relative; */
    

}
.soonaround{
    position: absolute;
    left: 20px;
    bottom: 10px;
    width: 138px;
    fill: #fff;
}
.soontext{
    position: absolute;
    transform: rotate(-15deg);
    left: 20px;
    bottom:60px;
    width: 130px;
}
.soonlogo{
    position: absolute;
    fill: transparent;
    stroke: white;
    opacity: 0.5;
    width: 150px;
    bottom: 0;
    left: 10px;
}

/* -----section----------- */
.about{
    background-color: #F9F4EA;
}
.gelato{
    border-bottom: 1px solid #000;
}
.limitedtimeoffer{
    background-color: rgba(216,139,131,0.1);
}
.borderlimited{
    /* width: 205px; */
    height: auto;
    /* max-height: 225px; */
    border: 5px solid rgba(216,139,131,0.2);
    position: relative;
}
.borderlimited img{
    width: 100%;
    /* height: 100%; */
    opacity: 0;
}
.limited-title svg{
    fill:#D88B83;
    width: 110px;    
}
.limited-title{
    position: absolute;
    top: -15px;
    left: -20px;
}
.limited-rb{
    position: absolute;
    bottom: 0;
    right: 0;
    color: #D88B83;
}
.limited-rb h4 , .limited-rb p{
    font-size: 13px;    
    font-weight: bold;
    margin-bottom: 0;
}
.product{
    width: 100%;
    position: relative;
    /* padding-top: 100%; */
    /* height: 205px; */
}
.product img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.seemore span{
    color:#D88B83;
    border-bottom: 1px solid #D88B83;
}
.seemore{
    text-align: center; 
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
}
.product p{
    margin-bottom: 0.1rem;
    text-align: center;
}
.seemore::after{
    display: inline-block;
    content: "";
    width: 7px;
    height: 7px;
    background-color: #fff;
    border-top: 3px solid #D88B83;
    border-right: 3px solid #D88B83;
    transform: rotate(45deg);
}
.recommand svg{
    position: absolute;
    top: -15px;
    right: -15px;
    width: 96px;
    fill: #D88B83;
}
.pinkbtn{
    background-color: #D88B83;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 10px  0px;
    display: flex;
    justify-content: center;
    max-width: 250px;
    width: 50%;
    margin-top: 50px;

}
/* ---------------news------------------------ */
.news{
    background-color: #F9F4EA;
}
.newstitle{
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    line-height: 28px;
    letter-spacing: 0.1rem;
}

.notify a{
    color: black;
    /* line-height: 40px; */
    font-weight: bold;
    font-size: 14px;
    border-bottom: 3px solid #000;
    letter-spacing: 0.2rem;
}
.newstheme{
    font-family:gill-sans-nova,sans-serif
}
.map a{
    color: black;
    /* line-height: 40px; */
    /* font-weight: bold; */
    font-size: 14px;
    border-bottom: 3px solid #000;
    letter-spacing: 0.1rem;
}
.map::after{
    display: inline-block;
    content: "";
    width: 7px;
    height: 7px;
    background-color: #fff;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    transform: rotate(45deg);
}

/* ---------------footer---------------- */
.footerbg{
    background: url(./images/footer-bg.jpg) center center  repeat;
    width: 100%;
    /* height: 30vw; */
    background-size: cover;
}

@media (min-width:992px){
    .minw150{
        max-width: 150px;
    }
    .maxh168{
        max-height: 168px;
    }
}


@media (min-width:1200px){
    
}